.ticTable td {
  height: 100px;
  width: 100px;
  padding: 15px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}

.ticTable td:hover {
  background-color: rgba(128, 128, 128, 0.2);
  text-shadow: 2px 1px 1px white;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.borderRight {
  border-right: 1px solid black;
}

.container {
  margin: 20px;
}

.box {
  margin: 20px;
  display: inline-block;
  float: left;
}

.controls {
  min-width: 400px;
  min-height: 300px;
  text-align: center;
  display: inline-block;
  margin: 80px 60px;
  background-color: rgba(128, 128, 128, 0.08);
}

.controls span {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 20px;
  margin: 0 10px;
}

.controls p {
  color: grey;
}

.controls button {
  margin: 25px 15px;
  color: white;
  width: 100px;
  padding: 10px;
  background-color: rgba(39, 39, 39, 0.74);
  font-size: 0.8em;
  border-radius: 0.3em;
}

.markLabel {
  font-size: 2em;
}

.statusDiv {
  width: 50%;
  margin: auto;
}

table {
  display: inline-table;
}
